<!DOCTYPE html>
<html>
<head>
	<title>Pizzas</title>
</head>
<body>
	<h1>Ada's pizzas!</h1>
	

	 <%  for (let i = 0; i < pizza.length; i++ ) { %>
     <p><%=pizza[i].flavor %></p>
    <% } %> 


</body>
</html>