<!DOCTYPE html>
<html>
<head>
	<title>Pizzas</title>
</head>
<body>
	<h1>Ada's pizzas!</h1>


	<p><%= juicy.flavor %></p>
	<p><%= juicy.location %></p>
	<img src="<%= juicy.image %>">

</body>
</html>